# Ignore MinIO internal data
**/data/minio/.minio.sys/
**/data/minio/tmp/
**/data/minio/multipart/

# Ignore Postgres internal files
**/data/postgres/

# Ignore logs & temp
**/*.log
**/__pycache__/
**/.DS_Store
